body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    line-height: 1.5rem;
    /*background-color: rgba(0,0,0,0.75);*/
}

img {
    border: 0;
    display: block;
    max-width: 100%;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, p {
    margin: 0;
}

button, input {
    cursor: pointer;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container630 {
    width: 630px;
}

.header-nav {
    min-width: 62.875rem;
    width: 100%;
    background-color: rgba(213,0,6,1);
    height: 4.125rem;
}

.header-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    /*position: absolute;*/
    width: 7.5rem;
    height: 2.875rem;
    padding-top: 0.625rem;
    /*top: 0.625rem;*/
    /*left: 0;*/
}

.menu-wrapper {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    width: 1000px;
    margin: 0 auto;
    font-size: 14px;
}

.top-ad {
    margin: 5px 0;
}

.sidebar-ads {
    float: right;
}

.newsbreadcrumb {
    display: flex;
    align-items: center;
    color: #666;
    font-size: .6875rem;
}

.newsbreadcrumb li {
    margin-right: 5px;
}

div.articleIdentH1 {
    width: 515px;
    font-size: 1.75rem;
    line-height: 2.37rem;
    color: #333;
    font-weight: bold;
    padding-bottom: 19px;
}

span.overhead {
    line-height: 1.375rem;
    color: #D50006;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1px;
}

.clearfix-container {
    width: 630px;
}

.caption {
    color: #666;
    font-size: .6875rem;
    line-height: .875rem;
    padding: 5px 0 8px 0;
}

.source {
    float: right;
    color: #666;
    display: block;
    text-align: right;
    margin-left: 15px;
}

.gray-line {
    width: 630px;
    height: 20px;
    border-bottom: 0.0625rem solid rgba(224,224,224,1);
}

.displayDate {
    font-size: .875rem;
    line-height: 1.125rem;
    margin: 0.625rem 0 0.625rem;
}

.leadIn {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.75rem;
    color: #333;
    padding-bottom: 13px;
}

.textBlock, .textBlock h2, .textBlock p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #333;
    margin-bottom: 19px;
}

.container-article-inline-teaser {
    position: relative;
    margin: 0 10px 40px 10px;
    padding-top: 19px;
}

.container-article-inline-teaser h2 {
    margin-bottom: 11px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
    color: #333;
}

.container-article-inline-teaser .teaser-headline {
    font-weight: bold;
}

.slider-items {
    background: #FFF;
    border: 1px solid #E0E0E0;
    overflow: hidden;
    border-radius: 4px;
    height: 206px;
    box-sizing: border-box;
    transition: all .7s;
    margin: 0 5px 0 0;
    /*width: 200px;*/
    /*position: relative;*/
    padding-top: 0;
}

.slider-img {
    width: 100%;
    max-height: 102px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.slider-img img {
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    display: block;
    position: relative;
    max-width: inherit;
}

.container-article-inline-teaser .article-teaser-slider h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    padding: 0 5px 5px 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 60px;
    overflow: hidden;
    color: #333;
}

.control-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: 5px;
}

.control-nav .prev {
    left: -10px;
}

.control-nav .prev, .control-nav .next {
    background-color: #fff;
    top: 32%;
    box-shadow: 0 0 0.2rem rgb(0 0 0 / 40%);
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 0.25rem;
}

.control-nav .prev .bx-prev, .control-nav .next .bx-next {
    display: block;
    width: 100%;
    height: 100%;
}

.control-nav .prev .bx-prev>svg {
    transform: rotate(180deg);
    margin-left: -5px;
}

.control-nav .prev .bx-prev>svg, .control-nav .next .bx-next>svg {
    position: absolute;
    left: 50%;
    margin-top: -8px;
    top: 50%;
}

.control-nav .next {
    right: -10px;
}

.control-nav .next .bx-next>svg {
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: -8px;
    top: 50%;
}



.df-widget {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 1.38;
    margin: 1rem 0;
    text-align: center;
}

.df-container {
    width: 630px;
    float: left;
    margin-bottom: 40px;
}

.df-section {
    border-radius: 8px;
    background-color: #f1f2f3;
    /*margin-bottom: 40px;*/
}

.focus-logo {
    float: right;
}

.invitation-content, .payment-methods-content, .thanks-content, .feedback-content {
    padding: 30px 15px 40px 15px;
}

.invitation-content h3, .payment-methods-content p, .thanks-content h3, .feedback-content h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
}

.invitation-content p {
    width: 510px;
    margin: 0 auto;
}

.f19uvz4h {
    background-color: #F1F2F3;
    border-radius: 0.625rem;
    color: black;
    line-height: 0;
    margin: 0;
    padding: 1.25rem;
    text-align: center;
}

.f16k7jqq {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
}

.f16k7jqq > span {
    background-color: black;
    border-radius: 0.25rem;
    color: white;
    display: inline-block;
    padding: 0.25rem 0.5rem;
}

.f19uvz4h > input {
    display: block;
    width: 100%;
}

.f1tzbn5m {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    margin-bottom: 0.625rem;
    width: 100%;
}

.fdr9aqc {
    float: left;
}

.f1s8qzm7 {
    float: right;
}

.f1wt0yvj {
    display: none;
}

.danke-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.danke-buttons button{
    width: 192px;
    height: 44px;
    border-radius: 4px;
    border: solid 1px #156fbc;
    font-size: 14px;
    line-height: 0.86;
    color: #156fbc;
}

#payment-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #156FBC;
    color: #FFFFFF;
}

.icon-heart {
    fill: #FFFFFF;
    margin-right: 5px;
}

.euro-sign {
    font-weight: 700;
    margin-left: 5px;
}

.df-row {
    line-height: 0;
    margin-top: 15px;
    text-align: center;
}

.df-btn {
    border-radius: 0.25rem;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    height: 19px;
    text-align: center;
    width: 182px;
}

.df-row .--df-paypal, .df-row .--df-apple-pay, .df-row .--df-credit-card {
    width: 250px;
    height: 52px;
}

.df-row > .--df-credit-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.df-btn > * {
    vertical-align: middle;
}

.f19ovu9e {
    background-color: transparent !important;
    padding: 0 !important;
}

.f19ovu9e > img {
    height: 100%;
}

.f12kg177 {
    background-color: black;
}

.f12kg177 > img {
    text-align: center;
    /*height: 100%;*/
}

.f1mv45z2 {
    background-color: black;
    color: white;
}

.f1mv45z2 > img {
    height: 1.25rem;
    margin-right: 5px;
}

.apple-pay {
    margin: 0 auto;
    padding: 15px;
}

.icon-heart-big {
    fill: #D50006;
    margin-bottom: 20px;
}

#payment-methods, #thanks, #feedback {
    display: none;
}

.ads {
    position: relative;
}

.final-ads {
    position: absolute;
    bottom: 50px;
    right: -375px;
}

#commentForm {
    clear: both;
    padding: 0.3125rem 0.625rem 0.625rem 0.625rem;
    margin: 40px 0 50px 0;
    background-color: #f2f2f2;
}

#commentForm .title, #commentSent .title {
    padding-top: 22px;
    height: 24px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 10px;
    margin-bottom: 9px;
}

#commentForm span.links, #commentSent span.links, div.answerForm {
    float: right;
    font-size: 14px;
    line-height: 14px;
    padding-top: 10px;
    font-weight: bold;
    color: #156FBC;
}

#commentForm form {
    clear: both;
    margin: 0;
    padding: 0;
}

#commentForm form fieldset.bubble {
    background-color: #f2f2f2;
    position: relative;
    height: auto;
}

#commentForm form fieldset {
    padding: 4px 0 0 0;
}

#commentForm {
    position: relative;
}

/*#commentForm:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: -30px;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 0.5em;*/
/*    border-top: 0.125rem solid #e0e0e0;;*/
/*    !*z-index: -1;*!*/
/*}*/

fieldset {
    border: none;
    margin: 0;
}

input, select, textarea {
    color: #666;
    font-size: 12px;
    line-height: 16px;
}

#article #communityCommentForm #communityLoginBox {
    height: 2.8125rem;
    margin: 0 0.125rem 0 0;
}

#commentForm span.commentLog {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 32px;
    font-weight: bold;
}

#commentForm span.commentBt {
    display: block;
    float: right;
    font-size: 14px;
    height: 24px;
    line-height: inherit;
    margin: 0;
}

.bluebutton, .whitebutton {
    background-color: #156fbc;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    padding: 3px 13px 11px 13px;
    text-align: center;
    height: 17px;
    color: #FFFFFF;
    font-weight: 700;
}

#commentForm span.CmmtFormLabel {
    display: block;
    /*float: left;*/
    font-size: 13px;
    line-height: 19px;
    margin-right: 20px;
    margin-top: 14px;
    text-align: left;
    width: 130px;
}

#commentForm form input[type=text] {
    margin-top: 12px;
    margin-bottom: 12px;
    height: 24px;
    line-height: 24px;
    display: block;
    width: calc(100% - 8px);
    float: left;
    font-size: 13px;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: #e0e0e0 #e0e0e0 #e0e0e0;
    padding: 0 4px;
    color: #666;
}

#commentForm form textarea {
    resize: vertical;
    min-height: 94px;
    margin: 12px 0;
    line-height: 19px;
    height: 40px;
    display: block;
    width: calc(100% - 8px);
    float: left;
    font-size: 13px;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: #e0e0e0 #e0e0e0 #e0e0e0;
    padding: 0 4px;
    color: #666;
}

.margin20 {
    margin-bottom: 50px;
}
